body{
    font-family: Oswald;
    background-color: #222;
    color: #fff;
    /*Centaliza todo o conteudo da pagina*/
    text-align: center;
    font-size: 1.4rem;
}

h1, h2, h3{
    font-family: 200;
}

h2, h3{
    margin: 0;
}